<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PodiumTimeModels.Properties.Settings.PodiumTimeConnectionString_old"
            connectionString="Data Source=AFV\sqlexpress2012;Initial Catalog=PodiumTime;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>